@font-face {
    font-family: 'SF Compact';
    font-weight: normal;
    src: url('../fonts/SF\ Compact\ Regular.otf');
}
@font-face {
    font-family: 'SF Compact';
    font-weight: 600;
    src: url('../fonts/SF\ Compact\ Semibold.otf');
}
body {
    background: #000;
    color: #fff;
    font-family: 'SF Compact', Arial, Helvetica, sans-serif;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
main::after {
    content: '';
    display: block;
    background-image: url('../img/banner.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transform: rotate(-15deg) scale(1.25);
    filter: blur(5vh);
}
label {
    font-weight: bold;
}
div.content {
    background: #000;
    width: 360px;
    padding: 6px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
form {
    width: 300px;
}
h1, h2 {
    margin-block: 0.5rem;
}
h3 {
    margin-block: 0.25rem;
}
.flex-end {
    position: absolute;
    bottom: 12px;
}
input[type="text"],
input[type="number"] {
    font-family: 'SF Compact', Arial, Helvetica, sans-serif;
    background: #000;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 12px;
    padding: 12px;
    font-size: 13pt;
    display: flex;
    width: 100%;
    margin: 6px 0;
}
button,
input[type="submit"] {
    font-family: 'SF Compact', Arial, Helvetica, sans-serif;
    background: #fff;
    color: #000;
    border: none;
    border-radius: 12px;
    padding: 12px;
    font-size: 13pt;
    width: 100%;
    margin: 6px 0;
}