@import url("../fonts/helvetica-inserat/helvetica-inserat.css");
@font-face {
	font-family: "Seven Segment";
	font-style: normal;
	font-weight: 400;
	src: url("../fonts/Seven-Segment.ttf");
}
@font-face {
    font-family: 'SF Compact';
    font-weight: normal;
    src: url('../fonts/SF\ Compact\ Regular.otf');
}
@font-face {
    font-family: 'SF Compact';
    font-weight: 600;
    src: url('../fonts/SF\ Compact\ Semibold.otf');
}

* {
    box-sizing: border-box;
}
*[hidden] {
    display: none;
}
body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    font-family: "Helvetica Inserat", Arial, Helvetica, sans-serif;
}
main {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000;
}
#timer {
    color: #fff;
    background: #000;
    font-size: 40vh;
    font-family: "Seven Segment", Arial, Helvetica, sans-serif;
}
@media (max-height: 320px) {
    #timer {
        font-size: 80vh;
    }
}
#timer * {
    line-height: 1;
}
#timer.ended {
    animation: pulseRed 1s infinite steps(1);
}
#timer.inactive {
    display: none;
}
@keyframes pulseRed {
    0% {
        color: #f00;
    }
    50% {
        color: #fff;
    }
}

button,
input[type="submit"] {
    font-family: 'SF Compact', Arial, Helvetica, sans-serif;
    background: #fff;
    color: #000;
    border: none;
    border-radius: 2vh;
    padding: 12px 12px;
    width: 100%;
}
#alarm-context-actions {
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 20vh;

    display: flex;
    gap: 2vh;
    padding: 2vh;
}
#alarm-context-actions button {
    font-size: 10vh;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}
#alarm-context-actions button#dismiss {
    background: #000;
    color: #fff;
    border: 0.5vh solid #fff;
}